<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fancywrappers.FriendCamp.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>friendcamp</string>
			</array>
		</dict>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PreciseLocationForGroupMap</key>
		<string>FriendCamp are nevoie de locația precisă ca să te arate corect pe harta grupului, nu doar aproximativ.</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
